body {
    margin: 0;
}
.header {
    padding: 25px 0 30px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    background: #5372F0;
}

.content {
    padding: 30px 50px;
}

.form-seach {
   form {
        margin-top: 5px;
        input {
            width: 100%;
            padding: 10px;
            border: 1px solid rgb(105, 105, 105);
            border-radius: 5px;
        }
        button {
            width: 100%;
            color: white;
            background: #5372F0;
            margin-top: 20px;
            padding: 10px;
            border: none;
            border-radius: 5px;
        }
        button:hover {
            cursor: pointer;
        }
    }
    .Use-current-location button {
        width: 100%;
        color: white;
        background: #6C757D;
        margin: 20px 0 10px;
        padding: 10px;
        border: none;
        border-radius: 5px;
        button:hover {
            cursor: pointer;
            background: #878f96;
        }
    }
}

.weather-today {
    color: white;
    background: #5372F0;
    padding: 15px 25px;
    border-radius: 10px;
}

.weather-future {
    .container-load-more{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    div {
        padding: 15px;
        .detail {
            color: white;
            background: #6C757D;
            padding: 10px;
            border-radius: 10px;
        }
    }
    .load-more {
        color: white;
        background: #5372F0;
        padding: 5px 20px;
        border-radius: 5px;
    }
    .load-more:hover {
        text-decoration: none;
        background: #6786ff;
    }
    .not-load-more {
        color: white;
        background: #a5a5a5;
        padding: 5px 20px;
        border-radius: 5px;
    }
    .not-load-more:hover {
        text-decoration: none;
        cursor: pointer;
    }
}

.text-4-Day-Forecast {
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}

.get-more-notification, .unsubscribe {
    font-weight: bold;
    cursor: pointer;
}
.get-more-notification:hover, .unsubscribe:hover {
    color: rgb(85, 85, 85);
    text-decoration: underline;
}
.weather-subscription-form, .weather-unsubscription-form {
    display: none;
    margin-top: 5px;
    input {
        width: 100%;
        padding: 6px;
        border: 1px solid rgb(105, 105, 105);
        border-radius: 5px;
    }
    .btn-subscribe {
        color: white;
        background: #5372F0;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
    }
    .btn-cancel-subscribe {
        color: white;
        background: #6C757D;
        margin-top: 20px;
        border: none;
        border-radius: 5px;
    }
    .btn-subscribe:hover {
        cursor: pointer;
        background: #6786ff;
    }
    .btn-cancel-subscribe:hover {
        cursor: pointer;
        background: #878f96;
    }
}